@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeicons/primeicons.css";

@theme {
--color-primary-50: #fff0f0;
--color-primary-100: #ffdddd;
--color-primary-200: #ffc0c0;
--color-primary-300: #ff9494;
--color-primary-400: #ff5757;
--color-primary-500: #ff2323;
--color-primary-600: #ff0000;
--color-primary-700: #d70000;
--color-primary-800: #b10303;
--color-primary-900: #920a0a;
--color-primary-950: #500000; 
}

* {
  font-family: 'Poppins', sans-serif;
}