 
@import "tailwindcss";
@import "primeicons/primeicons.css";

@theme {
--color-primary-50: #eff3ff;
--color-primary-100: #dbe4fe;
--color-primary-200: #bfd0fe;
--color-primary-300: #93affd;
--color-primary-400: #6088fa;
--color-primary-500: #3b6cf6;
--color-primary-600: #2559eb;
--color-primary-700: #1d4ed8;
--color-primary-800: #1e44af;
--color-primary-900: #1e3a8a;
--color-primary-950: #172754;

}

* {
  font-family: 'Poppins', sans-serif;
}